.semantic-violation-row {
    display:flex;
    flex-direction: row;
    padding: 5px 0;

    .violation-icon {
        width:50px;
        height:100%;
        font-size: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .violation-content {
        flex-grow: 1;
        height:100%;
        padding: 5px;

        .violation-content-text {
            font-size: 12px;
        }
    }
}

.semantic-violation-row:hover {
    background-color:rgb(70, 70, 70);
    cursor: pointer;
}