.treeMenuContainer {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.treeMenuContainer > .topContainer {
    width:100%;
    height:40px;
    display:flex;
    border-bottom: solid 1px rgb(65, 65, 65);
}

.treeMenuContainer > .topContainer >.titleContainer {
    flex: 1;
    height:100%;
    display:flex;
    align-items: center;
}

.treeMenuContainer > .topContainer >.iconMenu {
    flex: 1;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: end;
}

.treeMenuContainer > .topContainer >.titleContainer >.title {
    font-size: 12px;
}

.treeMenuContainer > .topContainer >.iconMenu >.icon {
    color:grey;
    margin-right: 10px;
}

.executionTreeContainer {
    width:100%;
    height:100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #252526;
    scrollbar-width: thin;
    font-size:12px;
    color:white;
}
