.treeMenuContainer {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;

    .bottomContainer {
        width:100%;
        height:150px;
        display:flex;
        border-top: solid 1px rgb(65, 65, 65);
        font-size:12px;
        color:white;
        display:flex;
        flex-direction: column;

        .title {
            font-size:13px;
            padding: 5px 0 0 0;
        }

        .rootcause {
            color:rgb(214, 214, 214);
            padding: 10px;
            line-height: 20px;
        }

    }

    .topContainer {
        width:100%;
        height:40px;
        display:flex;
        border-bottom: solid 1px rgb(65, 65, 65);

        .titleContainer {
            flex: 1;
            height:100%;
            display:flex;
            align-items: center;
            .title {
                font-size: 12px;
            }
        }

        .iconMenu {
            flex: 1;
            height:100%;
            display:flex;
            align-items: center;
            justify-content: end;
            
            .icon {
                color:white;
                margin-right: 10px;
            }
        }
    }   
}   

.scrollbar {
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #252526;
    scrollbar-width: thin;
}

.executionTreeContainer {
    width:100%;
    height:100%;
    font-size:12px;
    color:white;
}