.treeMenuContainer {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;

    .topContainer {
        width:100%;
        height:40px;
        display:flex;
        border-bottom: solid 1px rgb(65, 65, 65);

        .titleContainer {
            flex: 1;
            height:100%;
            display:flex;
            align-items: center;
            .title {
                font-size: 12px;
            }
        }

        .iconMenu {
            flex: 1;
            height:100%;
            display:flex;
            align-items: center;
            justify-content: end;
            
            .icon {
                color:white;
                margin-right: 10px;
            }
        }
    }   
}   

.scrollbar {
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #252526;
    scrollbar-width: thin;
}

.executionTreeContainer {
    width:100%;
    height:100%;
    font-size:12px;
    color:white;
}

.focusIndicator {
  color: #7d660f;
  font-size: 8px;
  margin-left: 10px;
}
