.automated-debugging-container {
    color:white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.semantic-violation-row {
    display:flex;
    flex-direction: row;
    height:50px;

    .violation-icon {
        width:50px;
        height:100%;
        background-color: red;
        font-size: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .violation-content {
        flex-grow: 1;
        height:100%;
        background-color: green;
    }
}