.abstractionRow {
    width:100%;
    color:#d7d7d7;
    overflow:hidden;
}

.abstractionRow:hover{
    background-color:rgb(44, 44, 44);
    cursor: pointer;
}

.collapse-icon-container {
    width: 10px;
    color:rgb(95, 95, 95);
    margin:5px 5px;
}

.text-container{
    padding:5px 0;
}

.spacer {
    position: relative;
    width: 20px;
}

.spacer::before {
    content: "";
    position: absolute;
    inset: 0;
    left: 50%;
    width: 1px;
    background: rgb(63, 63, 63);
    transform: translateX(-50%);
    pointer-events: none;
}

