.abstractionRow {
    width:100%;
    color:#d7d7d7;
    overflow:hidden;
    text-overflow: ellipsis;
    padding-left:5px;
}

.abstractionRow:hover{
    background-color:rgb(44, 44, 44);
    cursor:pointer;
}

.collapse-icon-container {
    width: 10px;
    color:rgb(95, 95, 95);
    margin:5px 5px;
}

.text-container{
    padding:5px 0;
}

.spacer {
    position: relative;
    width: 20px;
}

.spacer::before {
    content: "";
    position: absolute;
    inset: 0;
    left: 50%;
    width: 1px;
    background: rgb(63, 63, 63);
    transform: translateX(-50%);
    pointer-events: none;
}

.icon-container{
    margin:0 3px;
    width:10px;
    display:flex;
    align-items: center;
}

.disabledBreakPoint {
    background:grey;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    align-self: center;
}

.enabledBreakPoint {
    background:#e35454;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    align-self: center;
}

.analysis-status-container{
    margin:0 5px;
    font-size:13px;
    color:rgb(255, 81, 81);
    width:50px;
    display:flex;
    .message {
        align-self: center;
    }
}