.abstractionRow {
    width:100%;
    color:#d7d7d7;
    height:30px;
    overflow:hidden;
}

.abstractionRow:hover{
    background-color:rgb(44, 44, 44);
    cursor: pointer;
}

.text-container {

}

.collapse-icon-container {
    width: 10px;
    color:rgb(95, 95, 95);
    margin:0 5px;
}

.spacer-container {
    height: 100%;
}
.spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 100%;
}

.vertical-line {
    width: 1px;
    height: 100%; 
    background-color: #3f3d3d;
}
