.breakPointContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #252526;
    scrollbar-width: thin;
    background-color: #1e1e1e;
}