.verbosity-menu-container {
  background: #68217a;
  position: absolute;
}

.verbosity-menu-container .menu-option {
  cursor: pointer;
}

.verbosity-menu-container .menu-option:hover {
  background: #34103d;
}