.semantic-debug-container .vertical-handle {
    width:100%;
    height:2px;
    background-color: #474747;
    cursor: ns-resize;
}

.semantic-debug-container .handle-active{
    background-color:#007acc;
}