.bottomContainer {
    width:100%;
    height:200px;
    display:flex;
    border-top: solid 1px rgb(65, 65, 65);
    font-size:12px;
    color:white;
    display:flex;
    flex-direction: column;

    .title {
        font-size:13px;
        padding: 5px 0 0 0;
    }

    .rootcause {
        color:rgb(214, 214, 214);
        padding: 10px;
        line-height: 20px;
    }

}
