.timelineContainer {
    width:100%;
    height:100%;
    border-top: solid 1px #474747;
}   

.timelineContainer > .accordian {
    height:100%;
    width:300px;
    background:#252526;
}

.timelineContainer > .handle {
    height: 100%;
    width: 3px;
    background: #252526;
    cursor: ew-resize;
}

.timelineContainer > .handle-active{
    background-color:#007acc;
}