.timelineTracksContainer {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    overflow-x: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #252526;
    scrollbar-width: thin;
    background-color: #1e1e1e;

    .track-time-row {
        height: 30px;
        width: 100%;
        border-bottom: solid 1px #414040;
    }
}   

.timeline {
    flex: 1;
}


.needle {
    position:relative;
    width: 1px;
    height: 100%;
    background:red;
    z-index: 999;
}

.needle-handle {
    position:relative;
    height:100%;
    width:20px;
    background-color: rgb(114, 114, 114);
}