.behavioral-debug-container {
    width:100%;
    height:100%;
}

.behavioral-debug > .section {
    width:100%;
}

.violation-title{
    color: rgb(155, 155, 155);
    font-size: 12px;
    padding-left: 10px;
    background-color: #1e1e1e;
}