.topMenuContainer {
    width:100%;
    height:44px;
    color:white;
    display:flex;
    justify-content: space-between;
    border-bottom:solid 1px #474747;
}

.topMenuContainer > .leftContent {
    align-self: center;
    justify-content: flex-start;
    padding-left: 10px;
    display:flex;
}

.topMenuContainer > .leftContent > select{
    margin-left: 10px;
}

.topMenuContainer > .leftContent > button{
    margin-left: 5px;
}

.topMenuContainer > .leftContent > .title{
    margin: 0 5px;
    align-self: center;
}

.topMenuContainer > .rightContent {
    align-self: center;
    display:flex;
    justify-content: flex-end;
}