$tabs-height: 40px;

.file-view-container {
    height:100%;
    width:100%;
}

.file-view-container .tabs {
    height:$tabs-height;
    background:#252526;
    overflow-x: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #1e1e1e;
    scrollbar-width: thin;
}