.bottomMenuContainer {
    width:100%;
    height:44px;
    color:white;
    display:flex;
    justify-content: space-between;
    border-bottom:solid 1px #474747;
}

.bottomMenuContainer > .leftContent {
    align-self: center;
    font-size:12px;
    justify-content: flex-start;
    padding-left: 10px;
}

.bottomMenuContainer > .leftContent > select{
    margin-left: 10px;
}

.bottomMenuContainer > .leftContent > button{
    margin-left: 5px;
}

.bottomMenuContainer > .rightContent {
    align-self: center;
    display:flex;
    justify-content: flex-end;
}

.bottomMenuContainer > .rightContent > .tooltipIcon {
    margin: 0 8px;
    font-size: 15px;
}