.body-container-behavioral .vertical-handle {
    width:100%;
    height:2px;
    background-color: #474747;
    cursor: ns-resize;
}

.body-container-behavioral .handle-active{
    background-color:#007acc;
}