.central-container {
    width:100%;
    height:100%;
}

.central-container > .section {
    height:100%;
    width:100%;
}

.title{
    color: rgb(155, 155, 155);
    font-size: 12px;
    padding-left: 10px;
}