.outer-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-x: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #1e1e1e;
    scrollbar-width: thin;
}

.timeline-container {
    position:relative;
    width: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.timeslot {
    position:relative;
    width:100%;
    height:20px;
    background:#1e1e1e;
}

.track {
    position:relative;
    flex-grow: 1;
    width:100%;
    display: flex;
    padding-left:10px;
}

.needle {
    position:relative;
    width: 1px;
    height: 100%;
    background:red;
    z-index: 999;
}

.needle-handle {
    position:relative;
    height:100%;
    width:20px;
    background-color: rgb(114, 114, 114);
}