.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory {
    padding-left:10px;
}

.icon-root {
    color:#d798ff;
}

.icon-leaf {
    color:#5bbedc;
}

.tree-icon {
    margin-right:5px;
}

.tree-text{
    color:#9cbfc1;
}

.tree-container{
    color:white;
    font-size:13px;
}