
.abstractionInfoContainer {
    width:100%;
    height:100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #252526;
    scrollbar-width: thin;
    font-size:12px;
    padding-left:8px;
    color:white;
}