.selectedLine{
    background-color: #4b4b18;
    width:2px;
}

.stackLine{
    background-color: #184b2d;
    width:2px;
}

.glyph-debugger-icon{
    margin-top:5px;
    margin-left:10px;
    height:10px !important;
    width:10px !important;
    background-color: #e51400;
    border-radius: 50%;
    display: inline-block;
}

.glyph-debugger-icon-disabled{
    margin-top:5px;
    margin-left:10px;
    height:10px !important;
    width:10px !important;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}


.glyph-debugger-icon-hover{
    margin-top:5px;
    margin-left:10px;
    height:10px !important;
    width:10px !important;
    background-color: #420600;
    border-radius: 50%;
    display: inline-block;
}

.glyph-debugger-icon-hover{
    margin-top:5px;
    margin-left:10px;
    height:10px !important;
    width:10px !important;
    background-color: #e51400;
    border-radius: 50%;
    display: inline-block;
}

.exception-message{
    background:#420b0e;
    font-size:14px;
    text-align: center;
}