.info-container {
  color:white;
}

.rowInfo {
  font-size: 13px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: monospace;
}

.rowName {
  margin-right: 5px;
  color: #ae78a9;
}

.rowValue {
  color: #a7ce70;
}