.stack-row{
    background:#252526;
    color:white;
    font-size: 13px;
    margin: 3px 0px;
    padding: 1px 20px;
}

.stack-row:hover{
    cursor:pointer;
}

.file-name{
    color:#cccccc;
}

.pill {
    background:#4d4d4d;
    color:#b0ccc3;
    border-radius:5px;
    margin-left:10px;
    padding:0px 5px;
}

.abstraction {
    font-size:11px;
    color:white;
    width:100%;
    padding:5px 0;
    padding-left:20px;
}

.abstraction:hover{
    cursor:pointer;
    background-color:rgb(44, 44, 44);
    color:white;
}