.stack-row{
    background-color: #1e1e1e;
    color:white;
    font-size: 13px;
    margin: 3px 0px;
    padding: 1px 20px;
}

.stack-row:hover{
    cursor:pointer;
}

.file-name{
    color:#cccccc;
}

.pill {
    background:#4d4d4d;
    color:#b0ccc3;
    border-radius:5px;
    margin-left:10px;
    padding:0px 5px;
}